fetchSuiteRunDetails/xsd/fetchSuiteRunDetails1.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SuiteRunInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Record">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SuiteRunName" type="xs:string" />
              <xs:element name="CreationDate" />
              <xs:element name="IsDeleted" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>