createTestSuite/xsd/createTestSuite.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CreateTestSuite">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Suite">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SuiteDisplayName" type="xs:string" />
              <xs:element name="ErrorCode" />
              <xs:element name="ErrorMessage" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>