createTestRuns/xsd/createTestRuns.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="result">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="data">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="testrunname" type="xs:string" />
              <xs:element name="count" />
              <xs:element name="suiteRunID" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="error">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="errorCode" />
              <xs:element name="errorMessage" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>